static Config configs[] = {
    {
        /* wifi_name           */ "foo",
        /* wifi_pass           */ "bar",
        /* type                */ mvg_api,
        /* url                 */ "https://www.mvg.de/api/fahrinfo/departure/de:09162:6?footway=0",
        /* include_line        */ { "U4", "U5" },
        /* exclude_destination */ { "Moon", "Berlin" },
    },
    {
        /* wifi_name           */ "top",
        /* wifi_pass           */ "secret",
        /* type                */ geops_api,
        /* url                 */ "https://example.com",
        /* include_line        */ { "*" },
        /* exclude_destination */ { "Messestadt-Ost" },
    },
};
